node_modules

.git

# misc
.DS_Store
.idea
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jackett
packages/jackett/config/*
packages/jackett/downloads/*
!packages/jackett/**/.gitkeep

# transmission
packages/transmission/config/*
packages/transmission/watch/*
!packages/transmission/**/.gitkeep
!packages/transmission/config/settings.json

# vpn
packages/vpn/*
!packages/vpn/.gitkeep

# library
library/downloads/*
!library/downloads/.gitkeep
library/movies/*
!library/movies/.gitkeep
library/tvshows/*
!library/tvshows/.gitkeep
