node_modules

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jackett
packages/jackett/config/*
packages/jackett/downloads/*
!packages/jackett/**/.gitkeep

# transmission
library/downloads/*
!library/downloads/.gitkeep
packages/transmission/config/*
packages/transmission/watch/*
!packages/transmission/**/.gitkeep

# vpn
packages/vpn/*
!packages/vpn/.gitkeep
